src/MCOM.Provisioning.Workflows/mcom_workflows/LogicApp/WorkloadCreated/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Parse_request_payload": {
                "type": "ParseJson",
                "inputs": {
                    "content": "@triggerBody()?['contentData']",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "Site": {
                                "type": "object",
                                "properties": {
                                    "GroupUsers": {
                                        "type": "object",
                                        "properties": {
                                            "Members": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "Value": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            },
                                            "Owners": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "Value": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "SiteConfig": {
                                        "type": "object",
                                        "properties": {
                                            "SiteType": {
                                                "type": "integer"
                                            },
                                            "TemplateId": {
                                                "type": "integer"
                                            },
                                            "Description": {
                                                "type": "string"
                                            },
                                            "GroupEmailAddress": {
                                                "type": "string"
                                            },
                                            "SiteName": {
                                                "type": "string"
                                            },
                                            "Alias": {
                                                "type": "string"
                                            },
                                            "ExternalSharing": {
                                                "type": "boolean"
                                            },
                                            "IsPublic": {
                                                "type": "boolean"
                                            },
                                            "SiteURL": {
                                                "type": "string"
                                            },
                                            "SiteClassification": {
                                                "type": "string"
                                            },
                                            "SensitivityLabel": {
                                                "type": "string"
                                            },
                                            "SiteGuid": {
                                                "type": "string"
                                            },
                                            "CreatedDate": {
                                                "type": "string"
                                            },
                                            "GroupId": {
                                                "type": "string"
                                            },
                                            "TeamId": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "SiteMetadata": {
                                        "type": "object",
                                        "properties": {
                                            "EIMMetadata": {
                                                "type": "object",
                                                "properties": {
                                                    "BCL1": {
                                                        "type": "string"
                                                    },
                                                    "BCL2": {
                                                        "type": "string"
                                                    },
                                                    "Block": {
                                                        "type": "string"
                                                    },
                                                    "BusinessArea": {
                                                        "type": "string"
                                                    },
                                                    "Country": {
                                                        "type": "string"
                                                    },
                                                    "InformationType": {
                                                        "type": "string"
                                                    },
                                                    "LegalEntity": {
                                                        "type": "string"
                                                    },
                                                    "SecurityClassification": {
                                                        "type": "string"
                                                    }
                                                }
                                            },
                                            "OptionalMetadata": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "Id": {
                                                            "type": "string"
                                                        },
                                                        "Name": {
                                                            "type": "string"
                                                        },
                                                        "InternalName": {
                                                            "type": "string"
                                                        },
                                                        "TermValues": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "Id",
                                                        "Name",
                                                        "InternalName",
                                                        "TermValues"
                                                    ]
                                                }
                                            }
                                        }
                                    },
                                    "SiteUsers": {
                                        "type": "object",
                                        "properties": {
                                            "Owners": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "Value": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            },
                                            "Members": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "Value": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            },
                                            "Visitors": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "Value": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "Team": {
                                "type": "object",
                                "properties": {}
                            },
                            "Request": {
                                "type": "object",
                                "properties": {
                                    "RequestId": {
                                        "type": "integer"
                                    },
                                    "WorkloadId": {
                                        "type": "integer"
                                    },
                                    "MessageId": {
                                        "type": "string"
                                    },
                                    "Requester": {
                                        "type": "object",
                                        "properties": {
                                            "Email": {
                                                "type": "string"
                                            },
                                            "BusinessAreaId": {
                                                "type": "integer"
                                            },
                                            "RoleId": {
                                                "type": "integer"
                                            }
                                        }
                                    },
                                    "RequestDate": {
                                        "type": "string"
                                    },
                                    "RequestOrderedThrough": {
                                        "type": "string"
                                    },
                                    "Approver": {
                                        "type": "object",
                                        "properties": {
                                            "Email": {
                                                "type": "string"
                                            },
                                            "Comments": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "Bulk": {
                                        "type": "boolean"
                                    }
                                }
                            }
                        }
                    }
                },
                "runAfter": {}
            },
            "Prepare_data_to_save_in_Database": {
                "type": "Liquid",
                "kind": "JsonToJson",
                "inputs": {
                    "content": "@body('Parse_request_payload')",
                    "map": {
                        "source": "LogicApp",
                        "name": "teamsitecreationmetadata.liquid"
                    }
                },
                "runAfter": {
                    "Parse_request_payload": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Save_request_in_database": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "storedProcedureName": "Proc_CreateWorkload",
                        "storedProcedureParameters": {
                            "RequestData": "@{body('Prepare_data_to_save_in_Database')}"
                        }
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "sql",
                        "operationId": "executeStoredProcedure",
                        "serviceProviderId": "/serviceProviders/sql"
                    }
                },
                "runAfter": {
                    "Prepare_data_to_save_in_Database": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Append_site_Id": {
                "type": "Compose",
                "inputs": "@setProperty(body('Parse_request_payload'), 'Request', addProperty(body('Parse_request_payload')['Request'],'SiteId',body('Save_request_in_database')?['OutputParameters']?['@SiteId']))",
                "runAfter": {
                    "Save_request_in_database": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Send_message_to_processed_queue": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "entityName": "processed",
                        "message": {
                            "contentData": "@outputs('Append_template_location')"
                        }
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "serviceBus",
                        "operationId": "sendMessage",
                        "serviceProviderId": "/serviceProviders/serviceBus"
                    }
                },
                "runAfter": {
                    "Append_template_location": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Complete_the_message": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "messageId": "@triggerBody()?['messageId']"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "serviceBus",
                        "operationId": "completeMessage",
                        "serviceProviderId": "/serviceProviders/serviceBus"
                    }
                },
                "runAfter": {
                    "Send_message_to_processed_queue": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Append_template_location": {
                "type": "Compose",
                "inputs": "@setProperty(outputs('Append_site_Id'), 'Request', setProperty(outputs('Append_site_Id')['Request'],'ProvisioningTemplateUrl',body('Save_request_in_database')?['OutputParameters']?['@TemplateLocation']))",
                "runAfter": {
                    "Append_site_Id": [
                        "SUCCEEDED"
                    ]
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "When_messages_are_available_in_a_queue_(peek-lock)": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "queueName": "preprocessed",
                        "isSessionsEnabled": false
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "serviceBus",
                        "operationId": "peekLockQueueMessages",
                        "serviceProviderId": "/serviceProviders/serviceBus"
                    }
                },
                "splitOn": "@triggerOutputs()?['body']"
            }
        }
    },
    "kind": "Stateful"
}