src/MCOM.Azure.Deployment/armtemplates/deploy-mcom-adf.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "environment": {
            "type": "string",
            "metadata": {
                "description": "MCOM environment."
            }
        },
        "location": {
            "type": "string",
            "defaultValue": "[resourceGroup().location]",
            "metadata": {
                "description": "Location for all resources."
            }
        },
        "paramDataFactoryName": {
            "type": "string",
            "defaultValue": "adf-mcom",
            "metadata": {
                "description": "Data Factory Name"
            }
        },
        "functionAppUrl": {
            "type": "string",
            "defaultValue": "",
            "metadata": {
                "description": "FunctionApp url"
            }
        },
        "functionKey": {
            "type": "secureString",
            "defaultValue": "",
            "metadata": {
                "description": "Secure string for 'functionKey' of 'MCOM Functions'"
            }
        },
        "stgAreaConnectionString": {
            "type": "string",
            "metadata": {
                "description": "Secure string for 'connectionString' of 'Staging area'"
            }
        },
        "triggerParam_SourceContainer": {
            "type": "string",
            "defaultValue": "@triggerBody().folderPath"
        },
        "triggerParam_SourceFilename": {
            "type": "string",
            "defaultValue": "@triggerBody().fileName"
        },
        "triggerScope": {
            "type": "string",
            "defaultValue": ""
        },
        "adfFunctionResourceId": {
            "type": "string",
            "defaultValue": "5e0a5f0a-db01-473c-b448-0e9711ed8f9a"
        }
    },
    "variables": {
        "dataFactoryName": "[concat(parameters('paramDataFactoryName'), '-', parameters('environment'))]",
        "factoryId": "[concat('Microsoft.DataFactory/factories/', variables('dataFactoryName'))]"
    },
    "resources": [
        {
            "type": "Microsoft.DataFactory/factories",
            "apiVersion": "2018-06-01",
            "name": "[variables('dataFactoryName')]",
            "location": "[parameters('location')]",
            "properties": {},
            "identity": {
                "type": "SystemAssigned"
            }
        },
        {
            "name": "[concat(variables('dataFactoryName'), '/Staging area')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureBlobStorage",
                "typeProperties": {
                    "connectionString": "[parameters('stgAreaConnectionString')]"
                },
                "connectVia": {
                    "referenceName": "MCOMIntegrationRuntime",
                    "type": "IntegrationRuntimeReference"
                }
            },
            "dependsOn": [
                "[variables('factoryId')]",
                "[concat(variables('factoryId'), '/integrationRuntimes/MCOMIntegrationRuntime')]"
            ]
        },
        {
            "name": "[concat(variables('dataFactoryName'), '/MCOMFunctions')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureFunction",
                "typeProperties": {
                    "functionKey": {
                        "type": "SecureString",
                        "value": "[parameters('functionKey')]"
                    },
                    "functionAppUrl": "[concat('https://', parameters('functionAppUrl'))]",
                    "authentication": "MSI",
                    "resourceId": "[parameters('adfFunctionResourceId')]"
                },
                "connectVia": {
                    "referenceName": "MCOMIntegrationRuntime",
                    "type": "IntegrationRuntimeReference"
                }
            },
            "dependsOn": [
                "[variables('factoryId')]",
                "[concat(variables('factoryId'), '/integrationRuntimes/MCOMIntegrationRuntime')]"
            ]
        },
        {
            "name": "[concat(variables('dataFactoryName'), '/dcf_metadata_dataset')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "Staging area",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "Filename": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "type": "Json",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobStorageLocation",
                        "fileName": {
                            "value": "@concat(dataset().Filename, '.json')",
                            "type": "Expression"
                        },
                        "folderPath": "metadata",
                        "container": "dcf"
                    }
                },
                "schema": {}
            },
            "dependsOn": [
                "[variables('factoryId')]",
                "[concat(variables('factoryId'), '/linkedServices/Staging area')]"
            ]
        },
        {
            "name": "[concat(variables('dataFactoryName'), '/dcf_metadata_dataset_manual')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "Staging area",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "Json",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobStorageLocation",
                        "folderPath": "metadata",
                        "container": "dcf"
                    }
                },
                "schema": {}
            }
        },
        {
            "name": "[concat(variables('dataFactoryName'), '/dcf_output_metadata_dataset')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "Staging area",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "Json",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobStorageLocation",
                        "container": "output"
                    }
                },
                "schema": {}
            },
            "dependsOn": [
                "[variables('factoryId')]",
                "[concat(variables('factoryId'), '/linkedServices/Staging area')]"
            ]
        },
        {
            "name": "[concat(variables('dataFactoryName'), '/edibank_metadata_dataset')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "Staging area",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "Json",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobStorageLocation",
                        "folderPath": "metadata",
                        "container": "edibank"
                    }
                },
                "schema": {}
            },
            "dependsOn": [
                "[variables('factoryId')]",
                "[concat(variables('factoryId'), '/linkedServices/Staging area')]"
            ]
        },
        {
            "name": "[concat(variables('dataFactoryName'), '/edibank_output_metadata_dataset')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "Staging area",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "Json",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobStorageLocation",
                        "container": "output"
                    }
                },
                "schema": {}
            },
            "dependsOn": [
                "[variables('factoryId')]",
                "[concat(variables('factoryId'), '/linkedServices/Staging area')]"
            ]
        },
        {
            "name": "[concat(variables('dataFactoryName'), '/gom_metadata_dataset')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "Staging area",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "Json",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobStorageLocation",
                        "folderPath": "metadata",
                        "container": "gom"
                    }
                },
                "schema": {}
            },
            "dependsOn": [
                "[variables('factoryId')]",
                "[concat(variables('factoryId'), '/linkedServices/Staging area')]"
            ]
        },
        {
            "name": "[concat(variables('dataFactoryName'), '/gom_output_metadata_dataset')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "Staging area",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "Json",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobStorageLocation",
                        "container": "output"
                    }
                },
                "schema": {}
            },
            "dependsOn": [
                "[variables('factoryId')]",
                "[concat(variables('factoryId'), '/linkedServices/Staging area')]"
            ]
        },
        {
            "name": "[concat(variables('dataFactoryName'), '/gasops_metadata_dataset')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "Staging area",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "Json",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobStorageLocation",
                        "folderPath": "metadata",
                        "container": "gasops"
                    }
                },
                "schema": {}
            },
            "dependsOn": [
                "[variables('factoryId')]",
                "[concat(variables('factoryId'), '/linkedServices/Staging area')]"
            ]
        },
        {
            "name": "[concat(variables('dataFactoryName'), '/gasops_output_metadata_dataset')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "Staging area",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "Json",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobStorageLocation",
                        "container": "output"
                    }
                },
                "schema": {}
            },
            "dependsOn": [
                "[variables('factoryId')]",
                "[concat(variables('factoryId'), '/linkedServices/Staging area')]"
            ]
        },
        {
            "name": "[concat(variables('dataFactoryName'), '/DCF Pipeline')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Process DCF data",
                        "type": "ExecuteDataFlow",
                        "dependsOn": [
                            {
                                "activity": "SetRestrictedLibraryId",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "1.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataflow": {
                                "referenceName": "ProcessDCFdata",
                                "type": "DataFlowReference",
                                "parameters": {
                                    "SharePointSiteUrl": {
                                        "value": "'@{variables('SharePointSiteUrl')}'",
                                        "type": "Expression"
                                    },
                                    "TempFileLocation": {
                                        "value": "'@{'dcf/files/'}'",
                                        "type": "Expression"
                                    },
                                    "OpenLibraryDriveId": {
                                        "value": "'@{variables('OpenLibraryDriveId')}'",
                                        "type": "Expression"
                                    },
                                    "RestrictedLibraryDriveId": {
                                        "value": "'@{variables('RestrictedLibraryDriveId')}'",
                                        "type": "Expression"
                                    },
                                    "FeedbackUrl": {
                                        "value": "'@{variables('FeedbackUrl')}'",
                                        "type": "Expression"
                                    }
                                },
                                "datasetParameters": {
                                    "dcffilesource": {
                                        "Filename": {
                                            "value": "@pipeline().parameters.SourceFileName",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            },
                            "integrationRuntime": {
                                "referenceName": "DCFIR",
                                "type": "IntegrationRuntimeReference"
                            },
                            "traceLevel": "Fine"
                        }
                    },
                    {
                        "name": "GetOpenLibraryId",
                        "type": "AzureFunctionActivity",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "functionName": "GetDriveId",
                            "method": "POST",
                            "body": {
                                "value": "@concat('{\"siteUrl\":\"',variables('SharePointSiteUrl'), '\",\"libraryName\":\"', formatDateTime(utcnow(), 'yyyy'), '\"}')",
                                "type": "Expression"
                            }
                        },
                        "linkedServiceName": {
                            "referenceName": "MCOMFunctions",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "SetOpenLibraryId",
                        "type": "SetVariable",
                        "dependsOn": [
                            {
                                "activity": "GetOpenLibraryId",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "variableName": "OpenLibraryDriveId",
                            "value": {
                                "value": "@activity('GetOpenLibraryId').output.DriveId",
                                "type": "Expression"
                            }
                        }
                    },
                    {
                        "name": "GetRestrictedLibraryId",
                        "type": "AzureFunctionActivity",
                        "dependsOn": [
                            {
                                "activity": "SetOpenLibraryId",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "functionName": "GetDriveId",
                            "method": "POST",
                            "body": {
                                "value": "@concat('{\"siteUrl\":\"',variables('SharePointSiteUrl'), '\",\"libraryName\":\"', formatDateTime(utcnow(), 'yyyy'), ' SA', '\"}')",
                                "type": "Expression"
                            }
                        },
                        "linkedServiceName": {
                            "referenceName": "MCOMFunctions",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "SetRestrictedLibraryId",
                        "type": "SetVariable",
                        "dependsOn": [
                            {
                                "activity": "GetRestrictedLibraryId",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "variableName": "RestrictedLibraryDriveId",
                            "value": {
                                "value": "@activity('GetRestrictedLibraryId').output.DriveId",
                                "type": "Expression"
                            }
                        }
                    }
                ],
                "parameters": {
                    "SourceContainer": {
                        "type": "string"
                    },
                    "SourceFileName": {
                        "type": "string"
                    }
                },
                "variables": {
                    "SharePointSiteUrl": {
                        "type": "String",
                        "defaultValue": "https://statoilintegrationtest.sharepoint.com/sites/EIMDCFArchive"
                    },
                    "OpenLibraryName": {
                        "type": "String",
                        "defaultValue": "DCF"
                    },
                    "RestrictedLibraryName": {
                        "type": "String",
                        "defaultValue": "DCF-SA"
                    },
                    "OpenLibraryDriveId": {
                        "type": "String"
                    },
                    "RestrictedLibraryDriveId": {
                        "type": "String"
                    },
                    "FeedbackUrl": {
                        "type": "String",
                        "defaultValue": "https://tops-dcf-sharepoint.azurewebsites.net/api/qa/drive?code=2pK2jWo5Brbt23HzahVVEDbU/g7sbrc4pr1pPD9jFHWs3c9FosuyOQ=="
                    }
                },
                "annotations": [],
                "lastPublishTime": "2021-12-08T13:03:26Z"
            },
            "dependsOn": [
                "[variables('factoryId')]",
                "[concat(variables('factoryId'), '/dataflows/ProcessDCFdata')]",
                "[concat(variables('factoryId'), '/integrationRuntimes/DCFIR')]"
            ]
        },
        {
            "name": "[concat(variables('dataFactoryName'), '/DCF Pipeline Manual')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Process DCF data",
                        "type": "ExecuteDataFlow",
                        "dependsOn": [
                            {
                                "activity": "SetRestrictedLibraryId",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "1.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataflow": {
                                "referenceName": "ProcessDCFdataManual",
                                "type": "DataFlowReference",
                                "parameters": {
                                    "SharePointSiteUrl": {
                                        "value": "'@{variables('SharePointSiteUrl')}'",
                                        "type": "Expression"
                                    },
                                    "TempFileLocation": {
                                        "value": "'@{'dcf/files/'}'",
                                        "type": "Expression"
                                    },
                                    "OpenLibraryDriveId": {
                                        "value": "'@{variables('OpenLibraryDriveId')}'",
                                        "type": "Expression"
                                    },
                                    "RestrictedLibraryDriveId": {
                                        "value": "'@{variables('RestrictedLibraryDriveId')}'",
                                        "type": "Expression"
                                    }
                                }
                            },
                            "integrationRuntime": {
                                "referenceName": "DCFIR",
                                "type": "IntegrationRuntimeReference"
                            },
                            "traceLevel": "Fine"
                        }
                    },
                    {
                        "name": "GetOpenLibraryId",
                        "type": "AzureFunctionActivity",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "functionName": "GetDriveId",
                            "method": "POST",
                            "body": {
                                "value": "@concat('{\"siteUrl\":\"',variables('SharePointSiteUrl'), '\",\"libraryName\":\"', formatDateTime(utcnow(), 'yyyy'), '\"}')",
                                "type": "Expression"
                            }
                        },
                        "linkedServiceName": {
                            "referenceName": "MCOMFunctions",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "SetOpenLibraryId",
                        "type": "SetVariable",
                        "dependsOn": [
                            {
                                "activity": "GetOpenLibraryId",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "variableName": "OpenLibraryDriveId",
                            "value": {
                                "value": "@activity('GetOpenLibraryId').output.DriveId",
                                "type": "Expression"
                            }
                        }
                    },
                    {
                        "name": "GetRestrictedLibraryId",
                        "type": "AzureFunctionActivity",
                        "dependsOn": [
                            {
                                "activity": "SetOpenLibraryId",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "functionName": "GetDriveId",
                            "method": "POST",
                            "body": {
                                "value": "@concat('{\"siteUrl\":\"',variables('SharePointSiteUrl'), '\",\"libraryName\":\"', formatDateTime(utcnow(), 'yyyy'), ' SA', '\"}')",
                                "type": "Expression"
                            }
                        },
                        "linkedServiceName": {
                            "referenceName": "MCOMFunctions",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "SetRestrictedLibraryId",
                        "type": "SetVariable",
                        "dependsOn": [
                            {
                                "activity": "GetRestrictedLibraryId",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "variableName": "RestrictedLibraryDriveId",
                            "value": {
                                "value": "@activity('GetRestrictedLibraryId').output.DriveId",
                                "type": "Expression"
                            }
                        }
                    }
                ],
                "parameters": {
                    "SourceContainer": {
                        "type": "string"
                    }
                },
                "variables": {
                    "SharePointSiteUrl": {
                        "type": "String",
                        "defaultValue": "https://statoilintegrationtest.sharepoint.com/sites/EIMDCFArchive"
                    },
                    "OpenLibraryName": {
                        "type": "String",
                        "defaultValue": "DCF"
                    },
                    "RestrictedLibraryName": {
                        "type": "String",
                        "defaultValue": "DCF-SA"
                    },
                    "OpenLibraryDriveId": {
                        "type": "String"
                    },
                    "RestrictedLibraryDriveId": {
                        "type": "String"
                    }
                },
                "annotations": [],
                "lastPublishTime": "2021-12-03T09:40:49Z"
            }
        },
        {
            "name": "[concat(variables('dataFactoryName'), '/EdiBank Pipeline')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Process EdiBank data",
                        "type": "ExecuteDataFlow",
                        "dependsOn": [
                            {
                                "activity": "SetLibraryId",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "1.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataflow": {
                                "referenceName": "ProcessEdiBankData",
                                "type": "DataFlowReference",
                                "parameters": {
                                    "SharePointSiteUrl": {
                                        "value": "'@{variables('SharePointSiteUrl')}'",
                                        "type": "Expression"
                                    },
                                    "TempFileLocation": {
                                        "value": "'@{'edibank/files/'}'",
                                        "type": "Expression"
                                    },
                                    "LibraryId": {
                                        "value": "'@{variables('LibraryId')}'",
                                        "type": "Expression"
                                    }
                                }
                            },
                            "integrationRuntime": {
                                "referenceName": "EdiBankIR",
                                "type": "IntegrationRuntimeReference"
                            },
                            "traceLevel": "Fine"
                        }
                    },
                    {
                        "name": "GetDestinationLibraryId",
                        "type": "AzureFunctionActivity",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "functionName": "GetDriveId",
                            "method": "POST",
                            "body": {
                                "value": "@concat('{\"siteUrl\":\"',variables('SharePointSiteUrl'), '\",\"libraryName\":\"', formatDateTime(utcnow(), 'yyyy'), '\"}')",
                                "type": "Expression"
                            }
                        },
                        "linkedServiceName": {
                            "referenceName": "MCOMFunctions",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "SetLibraryId",
                        "type": "SetVariable",
                        "dependsOn": [
                            {
                                "activity": "GetDestinationLibraryId",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "variableName": "LibraryId",
                            "value": {
                                "value": "@activity('GetDestinationLibraryId').output.DriveId",
                                "type": "Expression"
                            }
                        }
                    }
                ],
                "parameters": {
                    "SourceContainer": {
                        "type": "string"
                    }
                },
                "variables": {
                    "SharePointSiteUrl": {
                        "type": "String",
                        "defaultValue": "https://statoilintegrationtest.sharepoint.com/sites/EIMedibankArchive"
                    },
                    "LibraryName": {
                        "type": "String",
                        "defaultValue": "Documents"
                    },
                    "LibraryId": {
                        "type": "String"
                    }
                },
                "annotations": [],
                "lastPublishTime": "2021-10-07T13:24:38Z"
            },
            "dependsOn": [
                "[variables('factoryId')]",
                "[concat(variables('factoryId'), '/dataflows/ProcessEdiBankData')]",
                "[concat(variables('factoryId'), '/integrationRuntimes/EdiBankIR')]"
            ]
        },
        {
            "name": "[concat(variables('dataFactoryName'), '/GasOps Pipeline')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Process GasOps data",
                        "type": "ExecuteDataFlow",
                        "dependsOn": [
                            {
                                "activity": "SetLibraryId",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "1.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataflow": {
                                "referenceName": "ProcessGasOpsData",
                                "type": "DataFlowReference",
                                "parameters": {
                                    "SharePointSiteUrl": {
                                        "value": "'@{variables('SharePointSiteUrl')}'",
                                        "type": "Expression"
                                    },
                                    "TempFileLocation": {
                                        "value": "'@{'gasops/files/'}'",
                                        "type": "Expression"
                                    },
                                    "LibraryId": {
                                        "value": "'@{variables('LibraryId')}'",
                                        "type": "Expression"
                                    }
                                }
                            },
                            "integrationRuntime": {
                                "referenceName": "GasOpsIR",
                                "type": "IntegrationRuntimeReference"
                            },
                            "traceLevel": "Fine"
                        }
                    },
                    {
                        "name": "GetDestinationLibraryId",
                        "type": "AzureFunctionActivity",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "functionName": "GetDriveId",
                            "method": "POST",
                            "body": {
                                "value": "@concat('{\"siteUrl\":\"',variables('SharePointSiteUrl'), '\",\"libraryName\":\"', formatDateTime(utcnow(), 'yyyy'), ' Gas', '\"}')",
                                "type": "Expression"
                            }
                        },
                        "linkedServiceName": {
                            "referenceName": "MCOMFunctions",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "SetLibraryId",
                        "type": "SetVariable",
                        "dependsOn": [
                            {
                                "activity": "GetDestinationLibraryId",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "variableName": "LibraryId",
                            "value": {
                                "value": "@activity('GetDestinationLibraryId').output.DriveId",
                                "type": "Expression"
                            }
                        }
                    }
                ],
                "parameters": {
                    "SourceContainer": {
                        "type": "string",
                        "defaultValue": "gasops"
                    }
                },
                "variables": {
                    "SharePointSiteUrl": {
                        "type": "String",
                        "defaultValue": "https://statoilintegrationtest.sharepoint.com/sites/EIMGasOpsArchive"
                    },
                    "LibraryName": {
                        "type": "String",
                        "defaultValue": "Documents"
                    },
                    "LibraryId": {
                        "type": "String"
                    }
                },
                "annotations": [],
                "lastPublishTime": "2021-10-08T11:53:41Z"
            },
            "dependsOn": [
                "[variables('factoryId')]",
                "[concat(variables('factoryId'), '/dataflows/ProcessGasOpsData')]",
                "[concat(variables('factoryId'), '/integrationRuntimes/GasOpsIR')]"
            ]
        },
        {
            "name": "[concat(variables('dataFactoryName'), '/GoM Pipeline')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Process GoM data",
                        "type": "ExecuteDataFlow",
                        "dependsOn": [
                            {
                                "activity": "SetLibraryId",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "1.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataflow": {
                                "referenceName": "ProcessGoMData",
                                "type": "DataFlowReference",
                                "parameters": {
                                    "SharePointSiteUrl": {
                                        "value": "'@{variables('SharePointSiteUrl')}'",
                                        "type": "Expression"
                                    },
                                    "TempFileLocation": {
                                        "value": "'@{'gom/files/'}'",
                                        "type": "Expression"
                                    },
                                    "LibraryId": {
                                        "value": "'@{variables('LibraryId')}'",
                                        "type": "Expression"
                                    }
                                }
                            },
                            "integrationRuntime": {
                                "referenceName": "GasOpsIR",
                                "type": "IntegrationRuntimeReference"
                            },
                            "traceLevel": "Fine"
                        }
                    },
                    {
                        "name": "GetDestinationLibraryId",
                        "type": "AzureFunctionActivity",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "functionName": "GetDriveId",
                            "method": "POST",
                            "body": {
                                "value": "@concat('{\"siteUrl\":\"',variables('SharePointSiteUrl'), '\",\"libraryName\":\"', formatDateTime(utcnow(), 'yyyy'), ' Gas', '\"}')",
                                "type": "Expression"
                            }
                        },
                        "linkedServiceName": {
                            "referenceName": "MCOMFunctions",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "SetLibraryId",
                        "type": "SetVariable",
                        "dependsOn": [
                            {
                                "activity": "GetDestinationLibraryId",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "variableName": "LibraryId",
                            "value": {
                                "value": "@activity('GetDestinationLibraryId').output.DriveId",
                                "type": "Expression"
                            }
                        }
                    }
                ],
                "parameters": {
                    "SourceContainer": {
                        "type": "string",
                        "defaultValue": "gasops"
                    }
                },
                "variables": {
                    "SharePointSiteUrl": {
                        "type": "String",
                        "defaultValue": "https://statoilintegrationtest.sharepoint.com/sites/EIMGasOpsArchive"
                    },
                    "LibraryName": {
                        "type": "String",
                        "defaultValue": "Documents"
                    },
                    "LibraryId": {
                        "type": "String"
                    }
                },
                "annotations": [],
                "lastPublishTime": "2021-12-06T14:42:12Z"
            },
            "dependsOn": [
                "[variables('factoryId')]",
                "[concat(variables('factoryId'), '/dataflows/ProcessGoMData')]",
                "[concat(variables('factoryId'), '/integrationRuntimes/GoMIR')]"
            ]
        },
        {
            "name": "[concat(variables('dataFactoryName'), '/ProcessDCFdata')]",
            "type": "Microsoft.DataFactory/factories/dataflows",
            "apiVersion": "2018-06-01",
            "properties": {
                "type": "MappingDataFlow",
                "typeProperties": {
                    "sources": [
                        {
                            "dataset": {
                                "referenceName": "dcf_metadata_dataset",
                                "type": "DatasetReference"
                            },
                            "name": "dcffilesource"
                        }
                    ],
                    "sinks": [
                        {
                            "dataset": {
                                "referenceName": "dcf_output_metadata_dataset",
                                "type": "DatasetReference"
                            },
                            "name": "FileDestinationOpen"
                        },
                        {
                            "dataset": {
                                "referenceName": "dcf_output_metadata_dataset",
                                "type": "DatasetReference"
                            },
                            "name": "FileDestinationRestricted"
                        }
                    ],
                    "transformations": [
                        {
                            "name": "CheckDestination"
                        },
                        {
                            "name": "SetRestrictedColumn"
                        },
                        {
                            "name": "SetOpenColumn"
                        },
                        {
                            "name": "SetFileName"
                        },
                        {
                            "name": "FieldsMapping"
                        },
                        {
                            "name": "DataTransformation",
                            "description": "Creates an explicit mapping for each drifted column"
                        }
                    ],
                    "script": "parameters{\n\tSharePointSiteUrl as string,\n\tTempFileLocation as string,\n\tOpenLibraryDriveId as string,\n\tRestrictedLibraryDriveId as string,\n\tFeedbackUrl as string\n}\nsource(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tpurgeFiles: true,\n\tdocumentForm: 'singleDocument') ~> dcffilesource\nSetFileName split(startsWith(LRMUniqueFolderId, \"SA.\"),\n\tdisjoint: false) ~> CheckDestination@(SendToRestrictedLibrary, SendToOpenLibrary)\nCheckDestination@SendToRestrictedLibrary derive(driveid = $RestrictedLibraryDriveId) ~> SetRestrictedColumn\nCheckDestination@SendToOpenLibrary derive(driveid = $OpenLibraryDriveId) ~> SetOpenColumn\nFieldsMapping derive(DestFilename = concat(LRMHPECMRecordID, '.json'),\n\t\tTempFileLocation = concat($TempFileLocation, LRMHPECMRecordID),\n\t\tFilename = concat(LRMHPECMRecordID,'_', Filename),\n\t\tdocumentId = LRMHPECMRecordID,\n\t\tTitle = Filename,\n\t\tdocumentIdField = 'LRMHPECMRecordID') ~> SetFileName\nDataTransformation select(mapColumn(\n\t\tFilename,\n\t\tSource,\n\t\tLRMArchivedBy = {ARCHIVED USER},\n\t\tLRMAttachments = ATTACHMENTS,\n\t\tLRMBOLDate = {B/L DATE},\n\t\tLRMBroker = BROKER,\n\t\tLRMCargoNumber = {CARGO NUMBER},\n\t\tLRMCustomer = CUSTOMER,\n\t\tLRMDateExecuted = {DATE EXECUTED},\n\t\tLRMDealNumber = {DEAL NUMBER},\n\t\tLRMDischargePort = {DISCHARGE PORT},\n\t\tLRMHPECMRecordID = documentId,\n\t\tLRMFolderType = {FOLDER TYPE},\n\t\tLRMLoadPort = {LOAD PORT},\n\t\tLRMQuality = QUALITY,\n\t\tLRMResponsibleOperator = {RESPONSIBLE OPS},\n\t\tLRMTo = TO,\n\t\tLRMTransmissionDate = {TRANSMISSION DATE},\n\t\tLRMUniqueFolderId = {UNIQUE FOLDER ID},\n\t\tLRMVessel = VESSEL,\n\t\tLRMVoyageNumber = {VOYAGE NUMBER},\n\t\tusecsom,\n\t\tfeedbackurl\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> FieldsMapping\ndcffilesource derive({ARCHIVED USER} = toString(byName('ARCHIVED USER')),\n\t\tATTACHMENTS = toString(byName('ATTACHMENTS')),\n\t\t{B/L DATE} = toString(byName('B/L DATE')),\n\t\tBROKER = toString(byName('BROKER')),\n\t\t{CARGO NUMBER} = toString(byName('CARGO NUMBER')),\n\t\tCUSTOMER = toString(byName('CUSTOMER')),\n\t\t{DATE EXECUTED} = toString(byName('DATE EXECUTED')),\n\t\t{DEAL NUMBER} = toString(byName('DEAL NUMBER')),\n\t\t{DISCHARGE PORT} = toString(byName('DISCHARGE PORT')),\n\t\t{FOLDER TYPE} = toString(byName('FOLDER TYPE')),\n\t\tFilename = toString(byName('Filename')),\n\t\t{LOAD PORT} = toString(byName('LOAD PORT')),\n\t\tQUALITY = toString(byName('QUALITY')),\n\t\t{RESPONSIBLE OPS} = toString(byName('RESPONSIBLE OPS')),\n\t\tSource = toString(byName('Source')),\n\t\tTO = toString(byName('TO')),\n\t\t{TRANSMISSION DATE} = toString(byName('TRANSMISSION DATE')),\n\t\t{UNIQUE FOLDER ID} = toString(byName('UNIQUE FOLDER ID')),\n\t\tVESSEL = toString(byName('VESSEL')),\n\t\t{VOYAGE NUMBER} = toString(byName('VOYAGE NUMBER')),\n\t\tdocumentId = toString(byName('documentId')),\n\t\ttitle = toString(byName('title')),\n\t\tusecsom = false(),\n\t\tfeedbackurl = $FeedbackUrl) ~> DataTransformation\nSetRestrictedColumn sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\trowUrlColumn:'DestFilename',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> FileDestinationOpen\nSetOpenColumn sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\trowUrlColumn:'DestFilename',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> FileDestinationRestricted"
                }
            },
            "dependsOn": [
                "[variables('factoryId')]",
                "[concat(variables('factoryId'), '/datasets/dcf_metadata_dataset')]",
                "[concat(variables('factoryId'), '/datasets/dcf_output_metadata_dataset')]"
            ]
        },
        {
            "name": "[concat(variables('dataFactoryName'), '/ProcessDCFdataManual')]",
            "type": "Microsoft.DataFactory/factories/dataflows",
            "apiVersion": "2018-06-01",
            "properties": {
                "type": "MappingDataFlow",
                "typeProperties": {
                    "sources": [
                        {
                            "dataset": {
                                "referenceName": "dcf_metadata_dataset_manual",
                                "type": "DatasetReference"
                            },
                            "name": "dcffilesource"
                        }
                    ],
                    "sinks": [
                        {
                            "dataset": {
                                "referenceName": "dcf_output_metadata_dataset",
                                "type": "DatasetReference"
                            },
                            "name": "FileDestinationOpen"
                        },
                        {
                            "dataset": {
                                "referenceName": "dcf_output_metadata_dataset",
                                "type": "DatasetReference"
                            },
                            "name": "FileDestinationRestricted"
                        }
                    ],
                    "transformations": [
                        {
                            "name": "CheckDestination"
                        },
                        {
                            "name": "SetRestrictedColumn"
                        },
                        {
                            "name": "SetOpenColumn"
                        },
                        {
                            "name": "SetFileName"
                        },
                        {
                            "name": "FieldsMapping"
                        },
                        {
                            "name": "DataTransformation",
                            "description": "Creates an explicit mapping for each drifted column"
                        }
                    ],
                    "script": "parameters{\n\tSharePointSiteUrl as string,\n\tTempFileLocation as string,\n\tOpenLibraryDriveId as string,\n\tRestrictedLibraryDriveId as string\n}\nsource(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: true,\n\tpurgeFiles: true,\n\tdocumentForm: 'singleDocument') ~> dcffilesource\nSetFileName split(startsWith(LRMUniqueFolderId, \"SA.\"),\n\tdisjoint: false) ~> CheckDestination@(SendToRestrictedLibrary, SendToOpenLibrary)\nCheckDestination@SendToRestrictedLibrary derive(driveid = $RestrictedLibraryDriveId) ~> SetRestrictedColumn\nCheckDestination@SendToOpenLibrary derive(driveid = $OpenLibraryDriveId) ~> SetOpenColumn\nFieldsMapping derive(DestFilename = concat(LRMHPECMRecordID, '.json'),\n\t\tTempFileLocation = concat($TempFileLocation, LRMHPECMRecordID),\n\t\tFilename = concat(LRMHPECMRecordID,'_', Filename),\n\t\tdocumentId = LRMHPECMRecordID,\n\t\tTitle = Filename,\n\t\tdocumentIdField = 'LRMHPECMRecordID') ~> SetFileName\nDataTransformation select(mapColumn(\n\t\tFilename,\n\t\tSource,\n\t\tLRMArchivedBy = {ARCHIVED USER},\n\t\tLRMAttachments = ATTACHMENTS,\n\t\tLRMBOLDate = {B/L DATE},\n\t\tLRMBroker = BROKER,\n\t\tLRMCargoNumber = {CARGO NUMBER},\n\t\tLRMCustomer = CUSTOMER,\n\t\tLRMDateExecuted = {DATE EXECUTED},\n\t\tLRMDealNumber = {DEAL NUMBER},\n\t\tLRMDischargePort = {DISCHARGE PORT},\n\t\tLRMHPECMRecordID = documentId,\n\t\tLRMFolderType = {FOLDER TYPE},\n\t\tLRMLoadPort = {LOAD PORT},\n\t\tLRMQuality = QUALITY,\n\t\tLRMResponsibleOperator = {RESPONSIBLE OPS},\n\t\tLRMTo = TO,\n\t\tLRMTransmissionDate = {TRANSMISSION DATE},\n\t\tLRMUniqueFolderId = {UNIQUE FOLDER ID},\n\t\tLRMVessel = VESSEL,\n\t\tLRMVoyageNumber = {VOYAGE NUMBER},\n\t\tusecsom,\n\t\tfeedbackurl\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> FieldsMapping\ndcffilesource derive({ARCHIVED USER} = toString(byName('ARCHIVED USER')),\n\t\tATTACHMENTS = toString(byName('ATTACHMENTS')),\n\t\t{B/L DATE} = toString(byName('B/L DATE')),\n\t\tBROKER = toString(byName('BROKER')),\n\t\t{CARGO NUMBER} = toString(byName('CARGO NUMBER')),\n\t\tCUSTOMER = toString(byName('CUSTOMER')),\n\t\t{DATE EXECUTED} = toString(byName('DATE EXECUTED')),\n\t\t{DEAL NUMBER} = toString(byName('DEAL NUMBER')),\n\t\t{DISCHARGE PORT} = toString(byName('DISCHARGE PORT')),\n\t\t{FOLDER TYPE} = toString(byName('FOLDER TYPE')),\n\t\tFilename = toString(byName('Filename')),\n\t\t{LOAD PORT} = toString(byName('LOAD PORT')),\n\t\tQUALITY = toString(byName('QUALITY')),\n\t\t{RESPONSIBLE OPS} = toString(byName('RESPONSIBLE OPS')),\n\t\tSource = toString(byName('Source')),\n\t\tTO = toString(byName('TO')),\n\t\t{TRANSMISSION DATE} = toString(byName('TRANSMISSION DATE')),\n\t\t{UNIQUE FOLDER ID} = toString(byName('UNIQUE FOLDER ID')),\n\t\tVESSEL = toString(byName('VESSEL')),\n\t\t{VOYAGE NUMBER} = toString(byName('VOYAGE NUMBER')),\n\t\tdocumentId = toString(byName('documentId')),\n\t\ttitle = toString(byName('title')),\n\t\tusecsom = false(),\n\t\tfeedbackurl = \"https://tops-dcf-sharepoint.azurewebsites.net/api/test/drive?code=H64RWZuOiq2nZLluc2daNe8cKxsOp/WhcG8azWWnx/xR4ANitl9EQQ==\") ~> DataTransformation\nSetRestrictedColumn sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\trowUrlColumn:'DestFilename',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> FileDestinationOpen\nSetOpenColumn sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\trowUrlColumn:'DestFilename',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> FileDestinationRestricted"
                }
            }
        },
        {
            "name": "[concat(variables('dataFactoryName'), '/ProcessEdiBankData')]",
            "type": "Microsoft.DataFactory/factories/dataflows",
            "apiVersion": "2018-06-01",
            "properties": {
                "type": "MappingDataFlow",
                "typeProperties": {
                    "sources": [
                        {
                            "dataset": {
                                "referenceName": "edibank_metadata_dataset",
                                "type": "DatasetReference"
                            },
                            "name": "edibankfilesource"
                        }
                    ],
                    "sinks": [
                        {
                            "dataset": {
                                "referenceName": "edibank_output_metadata_dataset",
                                "type": "DatasetReference"
                            },
                            "name": "edibankfiledestination"
                        }
                    ],
                    "transformations": [
                        {
                            "name": "DataTransformation"
                        },
                        {
                            "name": "DynamicFetchData",
                            "description": "Creates an explicit mapping for each drifted column"
                        },
                        {
                            "name": "SharePointFieldMappings"
                        }
                    ],
                    "script": "parameters{\n\tSharePointSiteUrl as string,\n\tTempFileLocation as string,\n\tLibraryId as string\n}\nsource(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: true,\n\tpurgeFiles: true,\n\tdocumentForm: 'singleDocument') ~> edibankfilesource\nSharePointFieldMappings derive(each(match(instr(name,'date')>0), $$ = toString(toDate(toString($$), 'yyyy-MM-dd'), 'MM/dd/yyyy HH:mm:ss')),\n\t\tTempFileLocation = concat($TempFileLocation, LRMHPECMRecordID),\n\t\tDestFilename = concat(LRMHPECMRecordID, '.json'),\n\t\tFilename = concat(LRMHPECMRecordID,'_',Filename),\n\t\tdriveid = $LibraryId,\n\t\tTitle = Filename,\n\t\tdocumentIdField = 'LRMHPECMRecordID') ~> DataTransformation\nedibankfilesource derive(Filename = toString(byName('Filename')),\n\t\tSource = toString(byName('Source')),\n\t\tbusinesspartner = toString(byName('businesspartner')),\n\t\tdocumentId = toString(byName('documentId')),\n\t\tdocumenttype = toString(byName('documenttype')),\n\t\texternalreference = toString(byName('externalreference')),\n\t\tfileid = toString(byName('fileid')),\n\t\tlinkedreference = toString(byName('linkedreference')),\n\t\trecipientscompany = toString(byName('recipientscompany')),\n\t\tsignaturekey = toString(byName('signaturekey')),\n\t\ttechnicaldocumenttype = toString(byName('technicaldocumenttype')),\n\t\ttransmissiondate = toString(byName('transmissiondate')),\n\t\ttransportsystem = toString(byName('transportsystem'))) ~> DynamicFetchData\nDynamicFetchData select(mapColumn(\n\t\tFilename,\n\t\tSource,\n\t\tLRMBusinessPartner = businesspartner,\n\t\tLRMHPECMRecordID = documentId,\n\t\tLRMDocumentType = documenttype,\n\t\tLRMExternalReference = externalreference,\n\t\tLRMFileId = fileid,\n\t\tLRMLinkedReference = linkedreference,\n\t\tLRMRecipientCompany = recipientscompany,\n\t\tLRMSignatureKey = signaturekey,\n\t\tLRMTechDocType = technicaldocumenttype,\n\t\tLRMTransmissionDate = transmissiondate,\n\t\tLRMTransportSystem = transportsystem\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SharePointFieldMappings\nDataTransformation sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\trowUrlColumn:'DestFilename',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> edibankfiledestination"
                }
            },
            "dependsOn": [
                "[variables('factoryId')]",
                "[concat(variables('factoryId'), '/datasets/edibank_metadata_dataset')]",
                "[concat(variables('factoryId'), '/datasets/edibank_output_metadata_dataset')]"
            ]
        },
        {
            "name": "[concat(variables('dataFactoryName'), '/ProcessGasOpsData')]",
            "type": "Microsoft.DataFactory/factories/dataflows",
            "apiVersion": "2018-06-01",
            "properties": {
                "type": "MappingDataFlow",
                "typeProperties": {
                    "sources": [
                        {
                            "dataset": {
                                "referenceName": "gasops_metadata_dataset",
                                "type": "DatasetReference"
                            },
                            "name": "gasopsfilesource"
                        }
                    ],
                    "sinks": [
                        {
                            "dataset": {
                                "referenceName": "gasops_output_metadata_dataset",
                                "type": "DatasetReference"
                            },
                            "name": "gasopsfiledestination"
                        }
                    ],
                    "transformations": [
                        {
                            "name": "DataTransformation"
                        },
                        {
                            "name": "DynamicFetchData",
                            "description": "Creates an explicit mapping for each drifted column"
                        },
                        {
                            "name": "SharePointFieldMapping"
                        }
                    ],
                    "script": "parameters{\n\tSharePointSiteUrl as string,\n\tTempFileLocation as string,\n\tLibraryId as string\n}\nsource(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: true,\n\tpurgeFiles: true,\n\trowUrlColumn: 'TempDataFile',\n\tdocumentForm: 'singleDocument') ~> gasopsfilesource\nSharePointFieldMapping derive(each(match(instr(name,'date')>0), $$ = toString(toDate(toString($$), 'yyyy-MM-dd'), 'MM/dd/yyyy HH:mm:ss')),\n\t\tdriveid = $LibraryId,\n\t\tTempFileLocation = concat($TempFileLocation, LRMHPECMRecordID),\n\t\tDestFilename = concat(LRMHPECMRecordID, '.json'),\n\t\tFilename = concat(LRMHPECMRecordID,'_',Filename),\n\t\tTitle = Filename,\n\t\tusecsom = false(),\n\t\tdocumentIdField = 'LRMHPECMRecordID') ~> DataTransformation\ngasopsfilesource derive(Filename = toString(byName('Filename')),\n\t\tSource = toString(byName('Source')),\n\t\tdirection = toString(byName('direction')),\n\t\tdocumentId = toString(byName('documentId')),\n\t\tloggerId = toString(byName('loggerId')),\n\t\tpartner = toString(byName('partner')),\n\t\tpublisheddate = toString(byName('publisheddate'))) ~> DynamicFetchData\nDynamicFetchData select(mapColumn(\n\t\tFilename,\n\t\tSource,\n\t\tLRMMessageDirection = direction,\n\t\tLRMHPECMRecordID = documentId,\n\t\tLRMLoggerId = loggerId,\n\t\tLRMPartner = partner,\n\t\tLRMPublished = publisheddate\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SharePointFieldMapping\nDataTransformation sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\trowUrlColumn:'DestFilename',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> gasopsfiledestination"
                }
            },
            "dependsOn": [
                "[variables('factoryId')]",
                "[concat(variables('factoryId'), '/datasets/gasops_metadata_dataset')]",
                "[concat(variables('factoryId'), '/datasets/gasops_output_metadata_dataset')]"
            ]
        },
        {
            "name": "[concat(variables('dataFactoryName'), '/ProcessGoMData')]",
            "type": "Microsoft.DataFactory/factories/dataflows",
            "apiVersion": "2018-06-01",
            "properties": {
                "type": "MappingDataFlow",
                "typeProperties": {
                    "sources": [
                        {
                            "dataset": {
                                "referenceName": "gom_metadata_dataset",
                                "type": "DatasetReference"
                            },
                            "name": "gomfilesource"
                        }
                    ],
                    "sinks": [
                        {
                            "dataset": {
                                "referenceName": "gom_output_metadata_dataset",
                                "type": "DatasetReference"
                            },
                            "name": "gomfiledestination"
                        }
                    ],
                    "transformations": [
                        {
                            "name": "DataTransformation"
                        },
                        {
                            "name": "DynamicFetchData",
                            "description": "Creates an explicit mapping for each drifted column"
                        },
                        {
                            "name": "SharePointFieldMapping"
                        }
                    ],
                    "script": "parameters{\n\tSharePointSiteUrl as string,\n\tTempFileLocation as string,\n\tLibraryId as string\n}\nsource(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: true,\n\tpurgeFiles: true,\n\trowUrlColumn: 'TempDataFile',\n\tdocumentForm: 'singleDocument') ~> gomfilesource\nSharePointFieldMapping derive(each(match(instr(name,'date')>0), $$ = toString(toDate(toString($$), 'yyyy-MM-dd'), 'MM/dd/yyyy HH:mm:ss')),\n\t\tdriveid = $LibraryId,\n\t\tTempFileLocation = concat($TempFileLocation, LRMHPECMRecordID),\n\t\tDestFilename = concat(LRMHPECMRecordID, '.json'),\n\t\tFilename = concat(LRMHPECMRecordID,'_',Filename),\n\t\tTitle = Filename,\n\t\tusecsom = false(),\n\t\tdocumentIdField = 'LRMHPECMRecordID') ~> DataTransformation\ngomfilesource derive(Filename = toString(byName('Filename')),\n\t\tSource = toString(byName('Source')),\n\t\tgom_document_id = toString(byName('gom_document_id')),\n\t\tgom_document_number = toString(byName('gom_document_number')),\n\t\tgom_document_name = toString(byName('gom_document_name')),\n\t\tgom_origunal_file_name = toString(byName('gom_origunal_file_name')),\n\t\tgom_issue_date = toString(byName('gom_issue_date')),\n\t\tgom_issued_by = toString(byName('gom_issued_by')),\n\t\tgom_commodity_type = toString(byName('gom_commodity_type')),\n\t\tgom_activity_start_date = toString(byName('gom_activity_start_date')),\n\t\tgom_activity_end_date = toString(byName('gom_activity_end_date')),\n\t\tdocumentId = toString(byName('documentId'))) ~> DynamicFetchData\nDynamicFetchData select(mapColumn(\n\t\tFilename,\n\t\tSource,\n\t\tLRMMessageDirection = gom_document_id,\n\t\tLRMLoggerId = gom_document_name,\n\t\tLRMPartner = gom_origunal_file_name,\n\t\tLRMPublished = gom_issue_date,\n\t\tLRMHPECMRecordID = documentId\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SharePointFieldMapping\nDataTransformation sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\trowUrlColumn:'DestFilename',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> gomfiledestination"
                }
            },
            "dependsOn": [
                "[variables('factoryId')]",
                "[concat(variables('factoryId'), '/datasets/gom_metadata_dataset')]",
                "[concat(variables('factoryId'), '/datasets/gom_output_metadata_dataset')]"
            ]
        },
        {
            "name": "[concat(variables('dataFactoryName'), '/MCOMIntegrationRuntime')]",
            "type": "Microsoft.DataFactory/factories/integrationRuntimes",
            "apiVersion": "2018-06-01",
            "properties": {
                "type": "Managed",
                "typeProperties": {
                    "computeProperties": {
                        "location": "AutoResolve",
                        "dataFlowProperties": {
                            "computeType": "General",
                            "coreCount": 8,
                            "timeToLive": 10,
                            "cleanup": false
                        }
                    }
                }
            },
            "dependsOn": [
                "[variables('factoryId')]"
            ]
        },
        {
            "name": "[concat(variables('dataFactoryName'), '/GoMIR')]",
            "type": "Microsoft.DataFactory/factories/integrationRuntimes",
            "apiVersion": "2018-06-01",
            "properties": {
                "type": "Managed",
                "typeProperties": {
                    "computeProperties": {
                        "location": "AutoResolve",
                        "dataFlowProperties": {
                            "computeType": "General",
                            "coreCount": 8,
                            "timeToLive": 10,
                            "cleanup": false
                        }
                    }
                }
            }
        },
        {
            "name": "[concat(variables('dataFactoryName'), '/GasOpsIR')]",
            "type": "Microsoft.DataFactory/factories/integrationRuntimes",
            "apiVersion": "2018-06-01",
            "properties": {
                "type": "Managed",
                "typeProperties": {
                    "computeProperties": {
                        "location": "AutoResolve",
                        "dataFlowProperties": {
                            "computeType": "General",
                            "coreCount": 16,
                            "timeToLive": 10,
                            "cleanup": false
                        }
                    }
                }
            },
            "dependsOn": [
                "[variables('factoryId')]"
            ]
        },
        {
            "name": "[concat(variables('dataFactoryName'), '/DCFIR')]",
            "type": "Microsoft.DataFactory/factories/integrationRuntimes",
            "apiVersion": "2018-06-01",
            "properties": {
                "type": "Managed",
                "typeProperties": {
                    "computeProperties": {
                        "location": "AutoResolve",
                        "dataFlowProperties": {
                            "computeType": "General",
                            "coreCount": 80,
                            "timeToLive": 30,
                            "cleanup": false
                        }
                    }
                }
            },
            "dependsOn": [
                "[variables('factoryId')]"
            ]
        },
        {
            "name": "[concat(variables('dataFactoryName'), '/EdiBankIR')]",
            "type": "Microsoft.DataFactory/factories/integrationRuntimes",
            "apiVersion": "2018-06-01",
            "properties": {
                "type": "Managed",
                "typeProperties": {
                    "computeProperties": {
                        "location": "AutoResolve",
                        "dataFlowProperties": {
                            "computeType": "General",
                            "coreCount": 16,
                            "timeToLive": 10,
                            "cleanup": false
                        }
                    }
                }
            },
            "dependsOn": [
                "[variables('factoryId')]"
            ]
        },
        {
            "name": "[concat(variables('dataFactoryName'), '/DCF Blob trigger')]",
            "type": "Microsoft.DataFactory/factories/triggers",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "runtimeState": "Started",
                "pipelines": [
                    {
                        "pipelineReference": {
                            "referenceName": "DCF Pipeline",
                            "type": "PipelineReference"
                        },
                        "parameters": {
                            "SourceContainer": "[parameters('triggerParam_SourceContainer')]",
                            "SourceFileName": "[parameters('triggerParam_SourceFilename')]"
                        }
                    }
                ],
                "type": "BlobEventsTrigger",
                "typeProperties": {
                    "blobPathBeginsWith": "/dcf/blobs/files/",
                    "ignoreEmptyBlobs": true,
                    "scope": "[parameters('triggerScope')]",
                    "events": [
                        "Microsoft.Storage.BlobCreated"
                    ]
                }
            },
            "dependsOn": [
                "[variables('factoryId')]",
                "[concat(variables('factoryId'), '/pipelines/DCF Pipeline')]"
            ]
        },
        {
            "name": "[concat(variables('dataFactoryName'), '/EDI Window Schedule')]",
            "type": "Microsoft.DataFactory/factories/triggers",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "runtimeState": "Started",
                "pipeline": {
                    "pipelineReference": {
                        "referenceName": "EdiBank Pipeline",
                        "type": "PipelineReference"
                    },
                    "parameters": {
                        "SourceContainer": "edibank"
                    }
                },
                "type": "TumblingWindowTrigger",
                "typeProperties": {
                    "frequency": "Minute",
                    "interval": 5,
                    "startTime": "2021-11-16T14:08:00Z",
                    "delay": "00:00:00",
                    "maxConcurrency": 50,
                    "retryPolicy": {
                        "count": 3,
                        "intervalInSeconds": 30
                    },
                    "dependsOn": []
                }
            }
        },
        {
            "name": "[concat(variables('dataFactoryName'), '/GasOps Window trigger')]",
            "type": "Microsoft.DataFactory/factories/triggers",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "runtimeState": "Started",
                "pipeline": {
                    "pipelineReference": {
                        "referenceName": "GasOps Pipeline",
                        "type": "PipelineReference"
                    }
                },
                "type": "TumblingWindowTrigger",
                "typeProperties": {
                    "frequency": "Minute",
                    "interval": 5,
                    "startTime": "2021-11-23T12:48:00Z",
                    "delay": "00:00:00",
                    "maxConcurrency": 50,
                    "retryPolicy": {
                        "intervalInSeconds": 30
                    },
                    "dependsOn": []
                }
            }
        },
        {
            "name": "[concat(variables('dataFactoryName'), '/GoM Trigger')]",
            "type": "Microsoft.DataFactory/factories/triggers",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "runtimeState": "Started",
                "pipeline": {
                    "pipelineReference": {
                        "referenceName": "GoM Pipeline",
                        "type": "PipelineReference"
                    },
                    "parameters": {
                        "SourceContainer": "gom"
                    }
                },
                "type": "TumblingWindowTrigger",
                "typeProperties": {
                    "frequency": "Minute",
                    "interval": 15,
                    "startTime": "2021-12-07T11:48:00Z",
                    "delay": "00:00:00",
                    "maxConcurrency": 50,
                    "retryPolicy": {
                        "intervalInSeconds": 30
                    },
                    "dependsOn": []
                }
            }
        }
    ],
    "outputs": {}
}