src/MCOM.Azure.Deployment/armtemplates/deploy-mcom-logic-scanondemand.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "environment": {
            "type": "String"
        },
        "workflows_logic_mcom_scan_output_name": {
            "defaultValue": "logic-mcom-scan-output",
            "type": "String"
        },
        "workflows_logic_mcom_scan_input_name": {
            "defaultValue": "logic-mcom-scan-input",
            "type": "String"
        },
        "connections_office365": {
            "defaultValue": "con-mcomoffice365",
            "type": "String"
        },
        "connections_sql": {
            "defaultValue": "con-mcomsql",
            "type": "String"
        },
        "scanprovider_email": {
            "type": "String"
        }
    },
    "variables": {
        "connOffice365": "[concat(parameters('connections_office365'), '-', parameters('environment'))]",
        "connSQL": "[concat(parameters('connections_sql'), '-', parameters('environment'))]",
        "logicappnameoutput": "[concat(parameters('workflows_logic_mcom_scan_output_name'), '-', parameters('environment'))]",
        "logicappnameinput": "[concat(parameters('workflows_logic_mcom_scan_input_name'), '-', parameters('environment'))]",
        "sqlservername":"[concat('sql-mcom-gov-', parameters('environment'), '.database.windows.net')]"
    },
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[variables('logicappnameoutput')]",
            "location": "norwayeast",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Sliding_Window": {
                            "recurrence": {
                                "frequency": "Minute",
                                "interval": 10
                            },
                            "evaluatedRecurrence": {
                                "frequency": "Minute",
                                "interval": 10
                            },
                            "type": "SlidingWindow"
                        }
                    },
                    "actions": {
                        "For_each": {
                            "foreach": "@body('Get_rows_(V2)')?['value']",
                            "actions": {
                                "Parse_JSON": {
                                    "inputs": {
                                        "content": "@items('For_each')?['filemetadata']",
                                        "schema": {
                                            "properties": {
                                                "AuthorLookupId": {
                                                    "type": "string"
                                                },
                                                "BatchName": {
                                                    "type": "string"
                                                },
                                                "ContentType": {
                                                    "type": "string"
                                                },
                                                "Created": {
                                                    "type": "string"
                                                },
                                                "DocIcon": {
                                                    "type": "string"
                                                },
                                                "EIMBlock": {
                                                    "type": "string"
                                                },
                                                "EIMBusinessArea": {
                                                    "type": "string"
                                                },
                                                "EIMCounterparty": {
                                                    "type": "string"
                                                },
                                                "EIMCountry": {
                                                    "type": "string"
                                                },
                                                "EIMDiscipline": {
                                                    "type": "string"
                                                },
                                                "EIMField": {
                                                    "type": "string"
                                                },
                                                "EIMInformationAsset": {
                                                    "type": "string"
                                                },
                                                "EIMLegalEntity": {
                                                    "type": "string"
                                                },
                                                "EIMLicense": {
                                                    "type": "string"
                                                },
                                                "EIMPlant": {
                                                    "type": "string"
                                                },
                                                "EIMProcess": {
                                                    "type": "string"
                                                },
                                                "EIMProcessArea": {
                                                    "type": "string"
                                                },
                                                "EIMSecurityClassification": {
                                                    "type": "string"
                                                },
                                                "EIMSource": {
                                                    "type": "string"
                                                },
                                                "EIMStatus": {
                                                    "type": "string"
                                                },
                                                "EIMWellbore": {
                                                    "type": "string"
                                                },
                                                "Edit": {
                                                    "type": "string"
                                                },
                                                "EditorLookupId": {
                                                    "type": "string"
                                                },
                                                "FileLeafRef": {
                                                    "type": "string"
                                                },
                                                "FilePath": {
                                                    "type": "string"
                                                },
                                                "FileSizeDisplay": {
                                                    "type": "string"
                                                },
                                                "FolderChildCount": {
                                                    "type": "string"
                                                },
                                                "ItemChildCount": {
                                                    "type": "string"
                                                },
                                                "LRMAlternateAuthor": {
                                                    "type": "string"
                                                },
                                                "LRMArchiveStatus": {
                                                    "type": "string"
                                                },
                                                "LRMArchivedDate": {
                                                    "type": "string"
                                                },
                                                "LRMArea": {
                                                    "type": "string"
                                                },
                                                "LRMAreaCodes": {
                                                    "type": "string"
                                                },
                                                "LRMAuthorityCommunication": {
                                                    "type": "string"
                                                },
                                                "LRMDocumentNumber": {
                                                    "type": "string"
                                                },
                                                "LRMDocumentType": {
                                                    "type": "string"
                                                },
                                                "LRMExternalReference": {
                                                    "type": "string"
                                                },
                                                "LRMMediaType": {
                                                    "type": "string"
                                                },
                                                "LRMOilDocMediaType": {
                                                    "type": "string"
                                                },
                                                "LRMOilDocfullpath": {
                                                    "type": "string"
                                                },
                                                "LRMOildocReference": {
                                                    "type": "string"
                                                },
                                                "LRMOriginalSource": {
                                                    "type": "string"
                                                },
                                                "LRMPhysicalLocation": {
                                                    "type": "string"
                                                },
                                                "LRMStorageID": {
                                                    "type": "string"
                                                },
                                                "LinkFilename": {
                                                    "type": "string"
                                                },
                                                "LinkFilenameNoMenu": {
                                                    "type": "string"
                                                },
                                                "Modified": {
                                                    "type": "string"
                                                },
                                                "ParentLeafNameLookupId": {
                                                    "type": "string"
                                                },
                                                "ParentVersionStringLookupId": {
                                                    "type": "string"
                                                },
                                                "Title": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "runAfter": {},
                                    "type": "ParseJson"
                                },
                                "Send_an_email_(V2)": {
                                    "runAfter": {
                                        "Parse_JSON": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "Body": "<p>Hi Iron Mountain Vestby,<br>\n<br>\nEquinor request for scan of archived document.<br>\nOrder number: @{items('For_each')?['ordernumber']}<br>\n<br>\nPlease scan this document and upload to sftp site. (Remember to set the filename with the order number, for example: 782e0bcc-a0a5-40f4-ad74-973355011da8.pdf, the file is needed in PDF format).<br>\n<br>\nStorage information:<br>\nPhysical Location: @{body('Parse_JSON')?['LRMPhysicalLocation']}<br>\nStorage ID: @{body('Parse_JSON')?['LRMStorageID']}<br>\n<br>\nDocument information<br>\nMedia type: @{body('Parse_JSON')?['LRMMediaType']}<br>\nFilename: @{items('For_each')?['documentname']}<br>\nTitle: @{body('Parse_JSON')?['Title']}<br>\nAuthors: @{body('Parse_JSON')?['LRMAlternateAuthor']}<br>\nCreation Date: @{body('Parse_JSON')?['Created']}<br>\nRegistration Date: @{body('Parse_JSON')?['LRMArchivedDate']}<br>\nRecord Notes:<br>\nDocument No: @{body('Parse_JSON')?['LRMDocumentNumber']}<br>\n<br>\nOur reference<br>\nWBS: @{items('For_each')?['wbs']}<br>\nCompany code: @{items('For_each')?['companycode']}<br>\nRequester: @{items('For_each')?['businessunit']}<br>\nOwner: @{body('Parse_JSON')?['EIMBusinessArea']}<br>\nContainer: @{body('Parse_JSON')?['LRMOilDocfullpath']}<br>\nUnique Identifier: @{items('For_each')?['ordernumber']}<br>\nRecord URL: @{body('Parse_JSON')?['FilePath']}<br>\n<br>\nBest Regards,<br>\nEquinor Corporate Archival Team<br>\n</p>",
                                            "Subject": "Bestillinger til Iron Mountain Vestby",
                                            "To": "[parameters('scanprovider_email')]"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['office365']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/v2/Mail"
                                    }
                                },
                                "Update_row_(V2)": {
                                    "runAfter": {
                                        "Send_an_email_(V2)": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "status": "Delivered"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['sql']['connectionId']"
                                            }
                                        },
                                        "method": "patch",
                                        "path": "[concat('/v2/datasets/@{encodeURIComponent(encodeURIComponent(''', variables('sqlservername'),'''))},@{encodeURIComponent(encodeURIComponent(''GovernanceDB''))}/tables/@{encodeURIComponent(encodeURIComponent(''[dbo].[MCOMScanRequest]''))}/items/@{encodeURIComponent(encodeURIComponent(items(''For_each'')?[''id'']))}')]"
                                    }
                                }
                            },
                            "runAfter": {
                                "Get_rows_(V2)": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Get_rows_(V2)": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['sql']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "[concat('/v2/datasets/@{encodeURIComponent(encodeURIComponent(''', variables('sqlservername'),'''))},@{encodeURIComponent(encodeURIComponent(''GovernanceDB''))}/tables/@{encodeURIComponent(encodeURIComponent(''[dbo].[MCOMScanRequest]''))}/items')]",
                                "queries": {
                                    "$filter": "status eq 'RequestNotified'"
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "office365": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('connOffice365'))]",
                                "connectionName": "office365",
                                "id": "/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/norwayeast/managedApis/office365"
                            },
                            "sql": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('connSQL'))]",
                                "connectionName": "sql",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                },
                                "id": "/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/norwayeast/managedApis/sql"
                            }
                        }
                    }
                }
            },
            "dependsOn": [
                "[concat('Microsoft.Web/connections/', variables('connOffice365'))]",
                "[concat('Microsoft.Web/connections/', variables('connSQL'))]"
            ]
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[variables('logicappnameinput')]",
            "location": "norwayeast",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Minute",
                                "interval": 10
                            },
                            "evaluatedRecurrence": {
                                "frequency": "Minute",
                                "interval": 10
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "For_each": {
                            "foreach": "@body('Get_Requested_Items')?['value']",
                            "actions": {
                                "Condition": {
                                    "actions": {},
                                    "else": {
                                        "actions": {
                                            "Send_an_email_to_creator": {
                                                "inputs": {
                                                    "body": {
                                                        "Body": "<p><span style=\"font-size: 18px\">Equinor</span><br>\n<br>\n<span style=\"font-size: 20px\">Your request with ID: </span><span style=\"font-size: 20px\">@{items('For_each')?['ordernumber']}</span><span style=\"font-size: 20px\"> has been successfully registered</span><br>\n<span style=\"font-size: 18px\">Request date: </span><span style=\"font-size: 18px\">@{formatDateTime(items('For_each')?['requestdate'], 'dd.MM.yyyy HH:mm:ss')}</span><span style=\"font-size: 18px\"><br>\nRequested by: </span><span style=\"font-size: 18px\">@{items('For_each')?['requestername']}</span><span style=\"font-size: 18px\"><br>\nCreated by: </span><span style=\"font-size: 18px\">@{items('For_each')?['creatorname']}</span><span style=\"font-size: 18px\"><br>\nDocument name: </span><span style=\"font-size: 18px\">@{items('For_each')?['documentname']}</span><span style=\"font-size: 18px\"><br>\nWBS: </span><span style=\"font-size: 18px\">@{items('For_each')?['wbs']}</span><span style=\"font-size: 18px\"><br>\nComments: </span><span style=\"font-size: 18px\">@{items('For_each')?['comments']}</span><span style=\"font-size: 18px\"></span></p>",
                                                        "Subject": "Scan on demand: your request for scan of file has been successfully registered",
                                                        "To": "@items('For_each')?['creator']"
                                                    },
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['office365']['connectionId']"
                                                        }
                                                    },
                                                    "method": "post",
                                                    "path": "/v2/Mail"
                                                },
                                                "runAfter": {},
                                                "type": "ApiConnection"
                                            }
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@toLower(items('For_each')?['requester'])",
                                                    "@toLower(items('For_each')?['creator'])"
                                                ]
                                            }
                                        ]
                                    },
                                    "runAfter": {},
                                    "type": "If"
                                },
                                "Send_email_to_requester": {
                                    "runAfter": {
                                        "Condition": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "Body": "<p><span style=\"font-size: 18px\">Equinor</span><span style=\"font-size: 16px\"><br>\n<br>\n</span><span style=\"font-size: 20px\">Your request with ID: </span><span style=\"font-size: 20px\">@{items('For_each')?['ordernumber']}</span><span style=\"font-size: 20px\"> has been successfully registered<br>\n</span><span style=\"font-size: 18px\">Request date: </span><span style=\"font-size: 18px\">@{formatDateTime(items('For_each')?['requestdate'], 'dd.MM.yyyy HH:mm:ss')}</span><span style=\"font-size: 18px\"><br>\nRequested by: </span><span style=\"font-size: 18px\">@{items('For_each')?['requestername']}</span><span style=\"font-size: 18px\"><br>\nCreated by: </span><span style=\"font-size: 18px\">@{items('For_each')?['creatorname']}</span><span style=\"font-size: 18px\"><br>\nDocument name: </span><span style=\"font-size: 18px\">@{items('For_each')?['documentname']}</span><span style=\"font-size: 18px\"><br>\nWBS: </span><span style=\"font-size: 18px\">@{items('For_each')?['wbs']}</span><span style=\"font-size: 18px\"><br>\nComments: </span><span style=\"font-size: 18px\">@{items('For_each')?['comments']}</span><span style=\"font-size: 18px\"></span></p>",
                                            "Subject": "Scan on demand: your request for scan of file has been successfully registered",
                                            "To": "@items('For_each')?['requester']"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['office365']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/v2/Mail"
                                    }
                                },
                                "Update_request_notified": {
                                    "inputs": {
                                        "body": {
                                            "status": "RequestNotified"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['sql']['connectionId']"
                                            }
                                        },
                                        "method": "patch",
                                        "path": "[concat('/v2/datasets/@{encodeURIComponent(encodeURIComponent(''', variables('sqlservername'),'''))},@{encodeURIComponent(encodeURIComponent(''GovernanceDB''))}/tables/@{encodeURIComponent(encodeURIComponent(''[dbo].[MCOMScanRequest]''))}/items/@{encodeURIComponent(encodeURIComponent(items(''For_each'')?[''id'']))}')]"
                                    },
                                    "runAfter": {
                                        "Send_email_to_requester": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection"
                                }
                            },
                            "runAfter": {
                                "Get_Requested_Items": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "For_each_received_item": {
                            "foreach": "@body('Get_Received_Items')?['value']",
                            "actions": {
                                "Check_creator": {
                                    "actions": {},
                                    "else": {
                                        "actions": {
                                            "Send_confirmation_to_creator": {
                                                "inputs": {
                                                    "body": {
                                                        "Body": "<p><span style=\"font-size: 18px\">Equinor</span><br>\n<br>\n<span style=\"font-size: 20px\">Your request with ID: </span><span style=\"font-size: 20px\">@{items('For_each_received_item')?['ordernumber']}</span><span style=\"font-size: 20px\"> has been successfully registered</span><br>\n<span style=\"font-size: 18px\">Request date: </span><span style=\"font-size: 18px\">@{formatDateTime(items('For_each_received_item')?['requestdate'], 'dd.MM.yyyy HH:mm:ss')}</span><span style=\"font-size: 18px\"><br>\nRequested by: </span><span style=\"font-size: 18px\">@{items('For_each_received_item')?['requestername']}</span><span style=\"font-size: 18px\"><br>\nCreated by: </span><span style=\"font-size: 18px\">@{items('For_each_received_item')?['creatorname']}</span><span style=\"font-size: 18px\"><br>\nDocument name: </span><span style=\"font-size: 18px\">@{items('For_each_received_item')?['documentname']}</span><span style=\"font-size: 18px\"><br>\nWBS: </span><span style=\"font-size: 18px\">@{items('For_each_received_item')?['wbs']}</span><span style=\"font-size: 18px\"><br>\nComments: </span><span style=\"font-size: 18px\">@{items('For_each_received_item')?['comments']}</span><span style=\"font-size: 18px\"></span></p>",
                                                        "Subject": "Scan on demand: your request for scan of file has been successfully registered",
                                                        "To": "@items('For_each_received_item')?['creator']"
                                                    },
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['office365']['connectionId']"
                                                        }
                                                    },
                                                    "method": "post",
                                                    "path": "/v2/Mail"
                                                },
                                                "runAfter": {},
                                                "type": "ApiConnection"
                                            }
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@toLower(items('For_each_received_item')?['requester'])",
                                                    "@toLower(items('For_each_received_item')?['creator'])"
                                                ]
                                            }
                                        ]
                                    },
                                    "runAfter": {},
                                    "type": "If"
                                },
                                "Parse_JSON": {
                                    "inputs": {
                                        "content": "@items('For_each_received_item')?['filemetadata']",
                                        "schema": {
                                            "properties": {
                                                "AuthorLookupId": {
                                                    "type": "string"
                                                },
                                                "BatchName": {
                                                    "type": "string"
                                                },
                                                "ContentType": {
                                                    "type": "string"
                                                },
                                                "Created": {
                                                    "type": "string"
                                                },
                                                "DocIcon": {
                                                    "type": "string"
                                                },
                                                "EIMBlock": {
                                                    "type": "string"
                                                },
                                                "EIMBusinessArea": {
                                                    "type": "string"
                                                },
                                                "EIMCounterparty": {
                                                    "type": "string"
                                                },
                                                "EIMCountry": {
                                                    "type": "string"
                                                },
                                                "EIMDiscipline": {
                                                    "type": "string"
                                                },
                                                "EIMField": {
                                                    "type": "string"
                                                },
                                                "EIMInformationAsset": {
                                                    "type": "string"
                                                },
                                                "EIMLegalEntity": {
                                                    "type": "string"
                                                },
                                                "EIMLicense": {
                                                    "type": "string"
                                                },
                                                "EIMPlant": {
                                                    "type": "string"
                                                },
                                                "EIMProcess": {
                                                    "type": "string"
                                                },
                                                "EIMProcessArea": {
                                                    "type": "string"
                                                },
                                                "EIMSecurityClassification": {
                                                    "type": "string"
                                                },
                                                "EIMSource": {
                                                    "type": "string"
                                                },
                                                "EIMStatus": {
                                                    "type": "string"
                                                },
                                                "EIMWellbore": {
                                                    "type": "string"
                                                },
                                                "Edit": {
                                                    "type": "string"
                                                },
                                                "EditorLookupId": {
                                                    "type": "string"
                                                },
                                                "FileLeafRef": {
                                                    "type": "string"
                                                },
                                                "FilePath": {
                                                    "type": "string"
                                                },
                                                "FileSizeDisplay": {
                                                    "type": "string"
                                                },
                                                "FolderChildCount": {
                                                    "type": "string"
                                                },
                                                "ItemChildCount": {
                                                    "type": "string"
                                                },
                                                "LRMAlternateAuthor": {
                                                    "type": "string"
                                                },
                                                "LRMArchiveStatus": {
                                                    "type": "string"
                                                },
                                                "LRMArchivedDate": {
                                                    "type": "string"
                                                },
                                                "LRMArea": {
                                                    "type": "string"
                                                },
                                                "LRMAreaCodes": {
                                                    "type": "string"
                                                },
                                                "LRMAuthorityCommunication": {
                                                    "type": "string"
                                                },
                                                "LRMDocumentNumber": {
                                                    "type": "string"
                                                },
                                                "LRMDocumentType": {
                                                    "type": "string"
                                                },
                                                "LRMExternalReference": {
                                                    "type": "string"
                                                },
                                                "LRMMediaType": {
                                                    "type": "string"
                                                },
                                                "LRMOilDocMediaType": {
                                                    "type": "string"
                                                },
                                                "LRMOilDocfullpath": {
                                                    "type": "string"
                                                },
                                                "LRMOildocReference": {
                                                    "type": "string"
                                                },
                                                "LRMOriginalSource": {
                                                    "type": "string"
                                                },
                                                "LRMPhysicalLocation": {
                                                    "type": "string"
                                                },
                                                "LRMStorageID": {
                                                    "type": "string"
                                                },
                                                "LinkFilename": {
                                                    "type": "string"
                                                },
                                                "LinkFilenameNoMenu": {
                                                    "type": "string"
                                                },
                                                "Modified": {
                                                    "type": "string"
                                                },
                                                "ParentLeafNameLookupId": {
                                                    "type": "string"
                                                },
                                                "ParentVersionStringLookupId": {
                                                    "type": "string"
                                                },
                                                "Title": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "runAfter": {},
                                    "type": "ParseJson"
                                },
                                "Send_confirmation_to_requester": {
                                    "runAfter": {
                                        "Parse_JSON": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "Body": "<p><span style=\"font-size: 14px\">Equinor</span><br>\n<br>\n<span style=\"font-size: 20px\">Your request with ID: </span><span style=\"font-size: 20px\">@{items('For_each_received_item')?['ordernumber']}</span><span style=\"font-size: 20px\"> has been successfully scanned and updated</span><br>\n<span style=\"font-size: 14px\">Request date: </span><span style=\"font-size: 14px\">@{formatDateTime(items('For_each_received_item')?['requestdate'], 'dd.MM.yyyy HH:mm:ss')}</span><span style=\"font-size: 14px\"><br>\nDocument name: </span><span style=\"font-size: 14px\">@{items('For_each_received_item')?['documentname']}</span><span style=\"font-size: 14px\"><br>\nWBS: </span><span style=\"font-size: 14px\">@{items('For_each_received_item')?['wbs']}</span><span style=\"font-size: 14px\"><br>\nComments: </span><span style=\"font-size: 14px\">@{items('For_each_received_item')?['comments']}</span><span style=\"font-size: 14px\"><br>\nFile URL:&nbsp;</span><span style=\"font-size: 14px\">@{body('Parse_JSON')?['FilePath']}</span><span style=\"font-size: 14px\"></span></p>",
                                            "Subject": "Scan on demand: your request for scan of file has been executed and received",
                                            "To": "@items('For_each_received_item')?['requester']"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['office365']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/v2/Mail"
                                    }
                                },
                                "Update_request_completed": {
                                    "runAfter": {
                                        "Send_confirmation_to_requester": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "status": "Completed"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['sql']['connectionId']"
                                            }
                                        },
                                        "method": "patch",
                                        "path": "[concat('/v2/datasets/@{encodeURIComponent(encodeURIComponent(''', variables('sqlservername'),'''))},@{encodeURIComponent(encodeURIComponent(''GovernanceDB''))}/tables/@{encodeURIComponent(encodeURIComponent(''[dbo].[MCOMScanRequest]''))}/items/@{encodeURIComponent(encodeURIComponent(items(''For_each_received_item'')?[''id'']))}')]"
                                    }
                                }
                            },
                            "runAfter": {
                                "Get_Received_Items": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Get_Received_Items": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['sql']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "[concat('/v2/datasets/@{encodeURIComponent(encodeURIComponent(''', variables('sqlservername'),'''))},@{encodeURIComponent(encodeURIComponent(''GovernanceDB''))}/tables/@{encodeURIComponent(encodeURIComponent(''[dbo].[MCOMScanRequest]''))}/items')]",
                                "queries": {
                                    "$filter": "Status eq 'Scanned'"
                                }
                            }
                        },
                        "Get_Requested_Items": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['sql']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "[concat('/v2/datasets/@{encodeURIComponent(encodeURIComponent(''', variables('sqlservername'),'''))},@{encodeURIComponent(encodeURIComponent(''GovernanceDB''))}/tables/@{encodeURIComponent(encodeURIComponent(''[dbo].[MCOMScanRequest]''))}/items')]",
                                "queries": {
                                    "$filter": "Status eq 'Requested'"
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "office365": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('connOffice365'))]",
                                "connectionName": "office365",
                                "id": "/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/norwayeast/managedApis/office365"
                            },
                            "sql": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('connSQL'))]",
                                "connectionName": "sql",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                },
                                "id": "/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/norwayeast/managedApis/sql"
                            }
                        }
                    }
                }
            },
            "dependsOn": [
                "[concat('Microsoft.Web/connections/', variables('connOffice365'))]",
                "[concat('Microsoft.Web/connections/', variables('connSQL'))]"
            ]
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('connOffice365')]",
            "location": "norwayeast",
            "kind": "V1",
            "properties": {
                "displayName": "Scan on demand service account",
                "statuses": [
                    {
                        "status": "Connected"
                    }
                ],
                "api": {
                    "name": "[variables('connOffice365')]",
                    "displayName": "Office 365 Outlook",
                    "description": "Microsoft Office 365 is a cloud-based service that is designed to help meet your organization's needs for robust security, reliability, and user productivity.",
                    "iconUri": "[concat('https://connectoricons-prod.azureedge.net/releases/v1.0.1573/1.0.1573.2770/', 'office365', '/icon.png')]",
                    "brandColor": "#0078D4",
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/norwayeast/managedApis/', 'office365')]",
                    "type": "Microsoft.Web/locations/managedApis"
                },
                "testLinks": [
                    {
                        "requestUri": "[concat('https://management.azure.com:443/subscriptions/', subscription().subscriptionId, '/resourceGroups/mcom-', parameters('environment'),'/providers/Microsoft.Web/connections/', 'office365', '/extensions/proxy/testconnection?api-version=2016-06-01')]",
                        "method": "get"
                    }
                ]
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('connSQL')]",
            "location": "norwayeast",
            "kind": "V1",
            "properties": {
                "displayName": "[variables('connSQL')]",
                "statuses": [
                    {
                        "status": "Ready"
                    }
                ],
                "api": {
                    "name": "[variables('connSQL')]",
                    "displayName": "SQL Server",
                    "description": "Microsoft SQL Server is a relational database management system developed by Microsoft. Connect to SQL Server to manage data. You can perform various actions such as create, update, get, and delete on rows in a table.",
                    "iconUri": "[concat('https://connectoricons-prod.azureedge.net/non_zr_connectors/1.0.1575.2789/', 'sql', '/icon.png')]",
                    "brandColor": "#ba141a",
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/norwayeast/managedApis/', 'sql')]",
                    "type": "Microsoft.Web/locations/managedApis"
                },
                "parameterValueSet": {
                    "name": "oauthMI",
                    "values": {}
                },
                "testLinks": [
                    {
                        "requestUri": "[concat('https://management.azure.com:443/subscriptions/', subscription().subscriptionId, '/resourceGroups/mcom-', parameters('environment'),'/providers/Microsoft.Web/connections/', 'sql', '/extensions/proxy/testconnection?api-version=2016-06-01')]",
                        "method": "get"
                    }
                ]
            }
        }
    ]
}